FHIR_BASE_URL=https://hapi.fhir.org/baseR4
PATIENT_LIMIT=25
OBSERVATION_LIMIT=100
SQLITE_DB_PATH=healthcare_fhir.db
DATA_CLASSIFICATION=synthetic
ALLOW_PHI=false
APP_ACTOR=local-operator
FHIR_AUTH_MODE=none
EPIC_FHIR_BASE_URL=https://fhir.epic.com/interconnect-fhir-oauth/api/FHIR/R4
EPIC_CLIENT_ID=
EPIC_REDIRECT_URI=http://localhost:8000/oauth/callback
EPIC_SCOPES=launch/patient patient/Patient.read patient/Observation.read patient/Encounter.read patient/Condition.read offline_access
